<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>TAO Core Test - entity's encoder </title>
        <link rel="stylesheet" type="text/css" href="/<%= require('qunit/qunit/qunit.css') %>">
        <script type="text/javascript" src="/<%= require('qunit/qunit/qunit.js') %>"></script>
        <script type="text/javascript" src="/<%= require('qunit-parameterize') %>"></script>
    </head>
    <body>
        <div id="qunit"></div>
        <div id="qunit-fixture"></div>
        <script type="text/javascript" src="./test.js"></script>
    </body>
</html>
